# Updating Columns

In [1]:
import pandas as pd

In [8]:
people = {
    "Name": ['Edward', 'Marco', 'John'],
    "Last": ['Ramírez', 'Reus', 'Doe'],
    "email": ['ed@mail.com', 'marcinho@gmail.com', 'johndoe@gmail.com']
}

In [9]:
dataframe = pd.DataFrame(people)
dataframe

     Name     Last               email
0  Edward  Ramírez         ed@mail.com
1   Marco     Reus  marcinho@gmail.com
2    John      Doe   johndoe@gmail.com

In [10]:
dataframe.columns

Index(['Name', 'Last', 'email'], dtype='object')

In [26]:
# rename all columns
dataframe.columns = ['first Name', 'last Name', 'email']

In [27]:
dataframe

  first Name last Name               email
0     Edward   Ramírez         ed@mail.com
1      Marco      Reus  marcinho@gmail.com
2       John       Doe   johndoe@gmail.com

In [28]:
# cambiar algo específico de una columna del dataframe
# Por ej: reemplazar espacios con _ o transformar todo a upper
dataframe.columns = [name.upper() for name in dataframe.columns]
dataframe

  FIRST NAME LAST NAME               EMAIL
0     Edward   Ramírez         ed@mail.com
1      Marco      Reus  marcinho@gmail.com
2       John       Doe   johndoe@gmail.com

In [30]:
dataframe.columns = dataframe.columns.str.replace(' ', '_')
dataframe.columns = dataframe.columns.str.lower()
dataframe

  first_name last_name               email
0     Edward   Ramírez         ed@mail.com
1      Marco      Reus  marcinho@gmail.com
2       John       Doe   johndoe@gmail.com

# Cambiar ciertas columnas
Para cambiar solo ciertas columnas, se usa el método `rename` y se le pasa un diccionario con las columnas que se desean cambiar.
> El diccionario se pasa al argumento `columns` y este contiene diferentes key value pairs, donde la llave es el nombre actual de la columna y su valor es el nombre que quiero colocarle

In [32]:
dataframe.rename(columns={'first_name': 'first'})

    first last_name               email
0  Edward   Ramírez         ed@mail.com
1   Marco      Reus  marcinho@gmail.com
2    John       Doe   johndoe@gmail.com

In [33]:
dataframe

  first_name last_name               email
0     Edward   Ramírez         ed@mail.com
1      Marco      Reus  marcinho@gmail.com
2       John       Doe   johndoe@gmail.com

In [37]:
dataframe.rename(columns={'first_name': 'first', 'last_name': 'last'}, inplace=True)
dataframe

    first     last               email
0  Edward  Ramírez         ed@mail.com
1   Marco     Reus  marcinho@gmail.com
2    John      Doe   johndoe@gmail.com

# ¿Cómo editar un solo valor de una fila?
- Pasar todos los valores para esa fila en una lista en una operación de asignación
- Para actualizar solo algunos valores de ciertas columnas, estas se pueden especificar usando el segundo argumento de `loc`
- Para actualizar el valor de solo una columna, no es necesario pasar una lista
- Obtener una fila con filtros y asignar el valor de una columna
> Es posible usar el método `at`, el cual funciona igual que `loc`, pero se usa para actualizar un solo valor

In [39]:
dataframe.loc[2] = ['John', 'Connor', 'JohnConnor@gmail.com']
dataframe

    first     last                 email
0  Edward  Ramírez           ed@mail.com
1   Marco     Reus    marcinho@gmail.com
2    John   Connor  JohnConnor@gmail.com

In [41]:
dataframe.loc[2, ['first', 'email']] = ['Kenway', 'KenwayConnor@gmail.com']
dataframe

    first     last                   email
0  Edward  Ramírez             ed@mail.com
1   Marco     Reus      marcinho@gmail.com
2  Kenway   Connor  KenwayConnor@gmail.com

In [43]:
dataframe.loc[0, 'email'] = 'EdwardRamirez@gmail.com'
dataframe

    first     last                    email
0  Edward  Ramírez  EdwardRamirez@gmail.com
1   Marco     Reus       marcinho@gmail.com
2  Kenway   Connor   KenwayConnor@gmail.com

In [48]:
filt = (dataframe['email'] == 'marcinho@gmail.com')
dataframe.loc[filt, 'email'] = 'marcoReus@gmail.com'
dataframe

    first     last                    email
0  Edward  Ramírez  EdwardRamirez@gmail.com
1   Marco     Reus      marcoReus@gmail.com
2  Kenway   Connor   KenwayConnor@gmail.com

# Actualizando multiples filas
- Puedo volver lowercase todos los emails usando los métodos comunes que trae Pandas
- `apply` es usada para ejecutar una función en los valores
    * aplicar la función len a cada valor de una serie
    * series.apply(function)
    * Se pueden pasar funciones propias o funciones lambda
    * Si corro `apply` en un dataframe, esto va a devolver la cantidad de filas de cada columna
    * Pasando el argumento axis='columns' se cambia el eje y se obtiene la longitud de las columnas

In [50]:
dataframe['email'].str.lower()

0    edwardramirez@gmail.com
1        marcoreus@gmail.com
2     kenwayconnor@gmail.com
Name: email, dtype: object

In [52]:
dataframe['email'] = dataframe['email'].str.lower()
dataframe

    first     last                    email
0  Edward  Ramírez  edwardramirez@gmail.com
1   Marco     Reus      marcoreus@gmail.com
2  Kenway   Connor   kenwayconnor@gmail.com

In [54]:
dataframe['email'].apply(len)

0    23
1    19
2    22
Name: email, dtype: int64

In [55]:
def convert_email(email):
    return email.upper()

In [56]:
dataframe['email'].apply(convert_email)

0    EDWARDRAMIREZ@GMAIL.COM
1        MARCOREUS@GMAIL.COM
2     KENWAYCONNOR@GMAIL.COM
Name: email, dtype: object

In [57]:
dataframe['email'].apply(lambda x: x.lower())

0    edwardramirez@gmail.com
1        marcoreus@gmail.com
2     kenwayconnor@gmail.com
Name: email, dtype: object

In [58]:
dataframe.apply(len)

first    3
last     3
email    3
dtype: int64

In [59]:
dataframe.apply(len, axis='columns')

0    3
1    3
2    3
dtype: int64